# Python šum
__pycache__/
*.py[cod]
*$py.class

# Modely (příliš velké pro základní Git)
models/*.onnx
models/*.pb
models/*.h5
models/*.prototxt
models/*.caffemodel

# Vitis AI výstupy
build/
output_kria/
*.xmodel
*.onnx_int.onnx

# Data a logy
data/
*.log
*.csv
vaitrace_resources/

# IDE nastavení
.vscode/
.idea/
